node_modules
env
.env
.idea
.vscode
*.DotSettings.user
bin
obj
Data
appsettings.Development.json
!appsettings.json
backup*
test_results
**/Migrations/*.sql
api-server/logs


**/.claude/settings.local.json
